<script>
$(document).ready(function(){
                              $("i").click(function(){
                                                        $(this).parent().hide();
                                                    });
                            });
</script>


<h1><font color="red">Items To Do</font></h1>

    <% @items.each do |itemm| %>
         
  <p>
    <% if (itemm.days_left == 7) %>
             <font color="gray"> 
               <%=  "#{itemm.name} has expired " %>
                                <i> | <%= link_to "Delete", [@item_del, itemm] , method: :delete, remote: true %> </i>  
              </font>
    <% else  %>
              <%= link_to itemm.name, edit_list_item_path(@list,itemm.id) %>
              
              | <%= (7-itemm.days_left ) %>  days left to do 
    
              <i>| <%= link_to "Done/Delete", [@item_del, itemm] , method: :delete, remote: true %>  </i>     
              <i><%= link_to "", [@item_del, itemm] , method: :delete, class: 'glyphicon glyphicon-ok' %></i>
    <%  end %>
    
    
  </p>


<% end %>
<br/>
<br/>

<%=  link_to "Add Items To List", new_list_item_path(@list), class: 'btn btn-success' %>


<!--  list_item GET    /lists/:list_id/items/:id(.:format)      items#show    -->