<script>
$(document).ready(function(){
                              $("i").click(function(){
                                                        $(this).parent().hide();
                                                    });
                            });
</script>

<h3><font color="red"> Items For: </font></h3><br/>
<h3> <%= " #{@list.title}" %> </h3><br/><br/>

    <% @item1.each do |itemm| %>
         
  <p>
    <% if (itemm.days_left == 7) %>
             <font color="gray"> 
               <%=  "#{itemm.name} has expired " %>
                                <i> | <%= link_to "Delete", @item_del , method: :delete, remote: true %> </i>
                                    
              </font>
    <% else  %>
              <%= link_to itemm.name, edit_list_item_path(@list,itemm.id) %>
              | <%= (7-itemm.days_left ) %>  days left to do 
               <i>| <%= link_to "Done/Delete", @item_del , method: :delete, remote: true %> </i>      
              <%= link_to "", @item_del, method: :delete, class: 'glyphicon glyphicon-ok' %>
    <%  end %>
    
    
  </p>


<% end %>

<br/>
<br/>
<br/>

 